/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

/*Hero image*/
#hero {
    background-image: url('../images/hero.webp');
    min-height: 500px;
    padding: 5% 7%;
    background-position: 50% 70%;
    background-color: lightgrey;
    background-size: cover;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1; /* egg blue*/
}

h1, h2 {
    font-family: "DM Serif Display", sans-serif;
    color: #184f63; /*dark-blue*/
}

/*About section*/

#about {
    background-color: white;
}

/*Portfolio section*/

#portfolio {
    background-color: #dbdcde; /*light grey*/
}

#portfolio .card-title {
    color: #1f7798; /*mid-blue*/
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798;
}

/*Contact section*/

#contact {
    background-color: white;
}

/* '*' Wildcard selects all element the have a parent with the sharp-corners class */
.sharp-corners, .sharp-corners * {
    border-radius: 0;
}